<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SiteDataSuite">
<listeners>
<listener class-name = "com.testvagrant.listeners.CustomListeners" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testvagrant.testCases.SiteWeatherTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
